@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 30px
}

.row{
    width: 90%;
    margin:auto;
    display: flex;
    padding: 10px;
}
.col-50 {
    padding: 10px;
    width: 50%;
}

.home-title {
    text-align: center;
}

/* styling the form */

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.update-form-wrapper {
    width: 60%;
    margin: auto;
}

.errorlist{
    list-style-type: none;
    color: red;
    font-size: 14px;
    margin:0;
    padding:5px;
}

.form-input-group {
    margin: 15px 0px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    color:white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border:none;
    cursor: pointer;
    border-radius: .25rem;
    color: white;
}


.btn-success {
    background-color: #28a745;
    
}
.btn-danger {
    background-color:#dc3545;
}

.btn-update {
    background-color: #17a2b8;
    color: white;
}

.link-btn {
    text-decoration: none;
}

/* style for the table */
.div-table {
    display: table;
    width: 100%;
    overflow: scroll;
    background-color: #eee;
    border-spacing: 2px;
    border-radius:4px;
}


.trow {
    display: table-row;
}



.th {
    background-color: black;
    color:white;
    padding: 10px;
    display: table-cell;
}

.td {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    padding: 10px 8px
}

/* media query for small device */
@media only screen and (max-width: 972px) {
    .row {
      display: block;
      width: 95;
      margin: auto;
    }

    .col-50 {
        width: 100%;
    }

    .update-form-wrapper {
        width: 90%;
        margin: auto;
    }

    .form-btn {
        padding: 8px 10px;
        font-size: 1rem;
        border:none;
        cursor: pointer;
        border-radius: .25rem;
        color: white;
    }

   .div-table {
     font-size: 12px;
   }

   .th {
        display: none;
   }

   .td {
    display: block;
    padding: 10px;
  }

   .td:first-child{
    background-color: #333;
    color: #fff;
    text-align: center;
   }
   
   .td:nth-child(1)::before{
    content: "ID";
   }
   .td:nth-child(2)::before{
    content: "Name";
   }

    .td:nth-child(3)::before{
        content: "Contact";
    }

    .td:nth-child(4)::before{
        content: "Edit";
    }

    .td:nth-child(5)::before{
        content: "Delete";
    }

    .td{
        text-align: right;
    }

    .td::before{
        float: left;
        margin-right: 3rem;
        font-weight: bold;
    }
   .btn {
    font-size: 12px;
    padding: 0px 8px;
   }
  }