{% extends 'enroll/base.html' %}
{% block content %}
    <div class="update-form-wrapper">
      <h4>Update Student Information</h4>  
      <form action="" method="post">
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
            <div class="form-input-group">
                {{field.label_tag}} {{field}}
                {% for error in field.errors %}
                <span class="errorlist">{{error}}</span>
                {% endfor %}    
            </div>
        {% endfor %}  
        <input type="submit" class="form-btn btn-success" value="Update">
        <a class="form-btn btn-update link-btn" href="{% url 'addandshow' %}" method="POST">Back to Home</a>
      </form>  
    </div>
{% endblock content %}
